*{
  margin: 0;
  padding: 0;
  margin-inline: auto ;
  text-decoration: none;
}

.container {
  width: 1110px;
  height: 300px;
  background-color: #E6F0FF;
  display: flex;
  margin-top: 25px;
  text-decoration: none;
  border-radius: 20px;
}

.text h1 {
  width: 400px;
  font-size: 40px ;
  color: black;
  padding: left 96px; ;
  vertical-align: middle;
}

.text h3 {
  width: 250px;
  font-size: 40px ;
  color:white;
  margin-top: 10px;
  text-align: center;
  margin-right: 150px;
  border-radius: 30px;
  background-color:  #0D6EFD;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}
.text h6 {
  font-size: 20px ;
  color:rgb(7, 7, 7);
  padding-top: 68px;
  text-align: left;
  padding-left: 6px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}

.foto img {
  height: 250px;
  margin-left: 120px;
  margin-top: 30px;
  float: left;
}

